@import "tailwindcss";

@theme inline {
  --font-jetbrains: var(--font-jetbrains-mono);
}

@theme {
  /* Primary Branding */
  --color-primary: #3aed7c;
  --color-primary-content: #032510;
  --color-primary-dark: #14e05f;
  --color-primary-light: #69f19b;

  /* Secondary Branding */
  --color-secondary: #edd53a;
  --color-secondary-content: #252003;
  --color-secondary-dark: #e0c414;
  --color-secondary-light: #f1df69;

  /* Layout & Surface */
  --color-background: #132018;
  --color-foreground: #1d3024;
  --color-border: #30503c;

  /* Typography */
  --color-text: #fafcfb;
  --color-text-light: #cfe2d6;
  --color-text-lighter: #8fbca0;

  /* Status States */
  --color-success: #3aed3a;
  --color-success-content: #032503;
  --color-warning: #eded3a;
  --color-warning-content: #252503;
  --color-error: #ed3a3a;
  --color-error-content: #ffffff;
}